@font-face {
    font-family: 'Museo Sans';
    src: url(/public/fonts/MuseoSansCyrl-500.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Museo Sans';
    src: url(/public/fonts/MuseoSansCyrl-900.ttf);
    font-weight: 900;
}